---
---

@import "{{ site.theme }}";

.flex {
    display: flex;
    flex-flow: row wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  flex: 1;
  width: fit-content;
}


.column-left {
    order: 1;
    width: 60%;
    padding: 20px;
}


.column-right {
    order: 2;
    width: fit-content;
    padding: 20px;
}

@media(max-width: 980px){
  .column-left{
    width: 100%;
  }
  .column-right{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

}
.container {
  width: 90%;
  padding: 10pt;
  max-width: 900px;
  margin: 0 auto;
}
